@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
}

* img {
    margin: 0 auto;
}

html {
    overflow-y: scroll;
}

body {
    color: #f074bc;
    font-family: 'Righteous';
}

hr {
    border: 1px solid #3f95fc;
}

img {
    width: 300px;
    display: flex;
    animation-name: img-animate;
    animation-duration: 0.5s;
}

@keyframes img-animate {
    0% {
        width: 0;
    }

    100% {
        width: 300px;
    }
}

.container {
    margin: 2vw 10vw 0 10vw;
}

.title {
    padding-bottom: 1vw;
}

.mem__head:hover {
    color: #a674f1;
}

.memes:hover .icon-plus {
    color: #1e1878;
}

.mem__head {
    margin: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.icon-plus {
    font-size: 40px;
    color: white;

}

.mem__input {
    /* appearance: none; */
    display: contents;
}

.mem__name {
    text-transform: uppercase;
    display: block;
    cursor: pointer;
}

.mem__name:hover .icon-plus {
    transform: rotate(45deg);
    animation: rotate 0.5s linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

.mem__img {
    display: none;
    padding-bottom: 3vw;
}

.mem__input:checked~.mem__img {
    display: block;
}

.mem__input:checked~.mem__head {
    color: #a674f1;
}

.mem__input:checked~.mem__head .icon-plus {
    transform: rotate(45deg);
}

@media (min-width: 821px) {
    .mem__name:hover .mem__img {
        display: block;
    }
}

@media (max-width: 820px) {

    * {
        font-size: 15px;
    }

    .icon-plus {
        font-size: 30px;
    }

    img {
        width: 250px;
        display: flex;
        animation-name: img-animate;
        animation-duration: 0.5s;
    }

    @keyframes img-animate {
        0% {
            width: 0;
        }

        100% {
            width: 250px;
        }
    }

}

@media (max-width: 320px) {
    * {
        font-size: 12px;
    }

    .icon-plus {
        font-size: 25px;
    }

    img {
        width: 200px;
        display: flex;
        animation-name: img-animate;
        animation-duration: 0.5s;
    }

    @keyframes img-animate {
        0% {
            width: 0;
        }

        100% {
            width: 200px;
        }
    }

}